aws_region         = "us-east-1"
name               = "ecs-lab"
environment        = "dev"
ecs_desired_count  = 1
assign_public_ip   = true
enable_nat_gateway = false
container_image    = "public.ecr.aws/nginx/nginx:stable"
