aws_region   = "us-east-1"
project_name = "terraform-intermediate"
environment  = "dev"
key_name     = null

create_elastic_ips = false

servers = {
  web-a = {
    instance_type = "t3.micro"
    role          = "web"
  }
  web-b = {
    instance_type = "t3.micro"
    role          = "web"
  }
  worker-a = {
    instance_type = "t3.micro"
    role          = "worker"
  }
}

ingress_rules = {
  http = {
    description = "HTTP from anywhere"
    from_port   = 80
    to_port     = 80
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }
  ssh = {
    description = "SSH from my current public IP"
    from_port   = 22
    to_port     = 22
    protocol    = "tcp"
    cidr_blocks = ["203.0.113.10/32"]
  }
}

admin_password = "replace-this-demo-password"
